{% load static %}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Washing</title>

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>

    <!--    CSS  -->

    <link rel="stylesheet" href="../static/home/css/font-awesome.min.css">

    <link rel="stylesheet" href="../static/home/css/bootstrap.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="../static/home/css/style.css">


</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/images/logo/QuickWash-navbar.svg" width="30" height="30" class="d-inline-block align-top">
        QuickWash
    </a>
    <div class="collapse navbar-collapse mr-auto" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active mr-auto">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Reciept</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Reports
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Daily</a>
                    <a class="dropdown-item" href="#">Monthly</a>
                    <a class="dropdown-item" href="#">Quaterly</a>
                </div>
            </li>
            <li class="nav-item mr-auto">
                <a class="nav-link" href="#">Logout</a>
            </li>
        </ul>
    </div>
</nav>

{% block content %}

{% endblock content %}


<footer>

    <div class="row copyright">
        <div class="col-md-12 text-center">
            <p>
                <small class="block">&copy; 2018 Quick Wash. All Rights Reserved.</small>
            </p>
        </div>
    </div>

</footer>
</body>


<!-- jQuery -->
<script src="{% static 'home/js/jquery.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
<script src="{% static 'home/js/bootstrap.js' %}"></script>

<!-- Main -->
<!-- <script src="{% static 'home/js/main.js' %}"></script> -->


</html>