{% load static %}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Washing</title>

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>

    <link rel="stylesheet" href="../static/home/fonts/font-awesome-4.7.0/css/all.css">
    {#    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">#}

    <!--  Bootstrap CSS  -->
    <link rel="stylesheet" href="../static/home/css/bootstrap.css">

    <!--    CSS  -->
    <link rel="stylesheet" href="../static/home/css/style.css">

</head>

<body>
<div>
    <div>
        <!---Bootstrap Navbar -->
        <nav class="navbar navbar-expand-sm   navbar-light bg-light justify-content-end">
            <a class="navbar-brand" href="#">
                <img src="" width="30" height="30" class="d-inline-block align-top">
                QuickWash
            </a>
            <div class="collapse navbar-collapse mr-auto" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active mr-auto navbar-right">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                   
                    <li class="nav-item navbar-right">
                        <a class="nav-link" href="#">Reciept</a>
                    </li>
                     <!--
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Reports
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Daily</a>
                            <a class="dropdown-item" href="#">Monthly</a>
                            <a class="dropdown-item" href="#">Quaterly</a>
                        </div>
                    </li>
                    -->
                    <li class="nav-item mr-auto">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!---End of Bootstrap Navbar -->
    </div>

    <!-- Bootstrap sidebar -->

    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">

                <div class="sidebar-header">

                    <!-- sidebar-header  -->
                    <!--
            <div class="sidebar-search">
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control search-menu" placeholder="Search...">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            -->
                    {% block search %}
                        <!-- sidebar-search  -->
                        <div class="sidebar-menu">
                            <ul>
                                <li class="header-menu">
                                    <span>General</span>
                                </li>
                                <li class="sidebar-dropdown">
                                    <a href="#">
                                        <i class="fa fa-tachometer-alt"></i>
                                        <span>Reciept</span>
                                        <!-- <span class="badge badge-pill badge-danger">New</span>> -->
                                    </a>
                                    <div class="sidebar-submenu">
                                        <ul>
                                            <li>
                                                <a href="#">Dashboard 1
                                                    <!-- <span class="badge badge-pill badge-success">Pro</span> -->
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">Dashboard 2</a>
                                            </li>
                                            <li>
                                                <a href="#">Dashboard 3</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="header-menu">
                                    <span>Extra</span>
                                </li>
                                <li class="sidebar-dropdown">
                                    <a href="#">
                                        <i class="fa fa-chart-line"></i>
                                        <span>Reports</span>
                                    </a>
                                    <div class="sidebar-submenu">
                                        <ul>
                                            <li>
                                                <a href="#">Daily</a>
                                            </li>
                                            <li>
                                                <a href="#">Monthly</a>
                                            </li>
                                            <li>
                                                <a href="#">Quaterly</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- sidebar-menu  -->
                        </div>
                        <!-- sidebar-content  -->
                        </div>
                        </nav>
                        <!-- sidebar-wrapper  -->

                        <!-- page-content" -->
                        </div>
                        <!---End of Bootstrap sidebar -->
                    {% endblock search %}

    <footer>

        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">&copy; 2018 Quick Wash. All Rights Reserved.</small>
                </p>
            </div>
        </div>

    </footer>
</div>
</body>

<!-- jQuery -->
<script src="{% static 'home/js/jquery.min.js' %}"></script>

<!-- Main -->
<script src="{% static 'home/js/main.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
<script src="{% static 'home/js/bootstrap.js' %}"></script>

<script src="../static/home/js/jquery.min.js"></script>
<script src="../static/home/js/sidebar.js"></script>
<script src="../static/home/js/bootstrap.min.js"></script>
<script src="../static/home/js/bootstrap.js"></script>
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
-->

{% block scripts %}

{% endblock scripts %}

</html>