{% extends 'home.html' %}

{% block home_content %}
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    New Orders (Awaiting Evaluation)
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for order in received_orders %}
                            <li class="list-group-item">
                                <h5 class="card-title">Receipt: {{ order.pk }}</h5>
                                <p class="card-text">Name: {{ order.customer.name }}</p>
                                <p class="card-text">Mobile: {{ order.customer.mobile }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Orders awaiting washing
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for order in clothwise_orders %}
                            <li class="list-group-item">
                                <h5 class="card-title">Receipt: {{ order.pk }}</h5>
                                <p class="card-text">Name: {{ order.customer.name }}</p>
                                <p class="card-text">Mobile: {{ order.customer.mobile }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Orders awaiting delivery
                </div>
                <ul class="list-group list-group-flush">
                    {% for order in washed_orders %}
                        <li class="list-group-item">
                            <h5 class="card-title">Receipt: {{ order.pk }}</h5>
                            <p class="card-text">Name: {{ order.customer.name }}</p>
                            <p class="card-text">Mobile: {{ order.customer.mobile }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
{% endblock home_content %}