{% extends 'home.html' %}

{% block home_content %}
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    New Orders (Awaiting Evaluation)
                </div>
                <div class="card-body" id="received_order">
                    {% if received_orders %}
                        <ul class="list-group list-group-flush">
                            {% for order in received_orders %}
                                <li class="list-group-item" data-toggle="modal" data-target="#order_detail_modal"
                                    id="received_order_{{ order.pk }}">
                                    <h5 class="card-title">Receipt: {{ order.pk }}</h5>
                                    <p class="card-text">
                                        Name: {{ order.customer.name }}<br/>
                                        Mobile: {{ order.customer.mobile }}<br>
                                        Order date: {{ order.received_date }}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h6 class="card-subtitle text-muted text-center">No Orders</h6>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Orders awaiting washing
                </div>
                <div class="card-body" id="clothwise_order">
                    {% if clothwise_orders %}
                        <ul class="list-group list-group-flush">
                            {% for order in clothwise_orders %}
                                <li class="list-group-item" id="clothwise_order_{{ order.pk }}">
                                    <h5 class="card-title">Receipt: {{ order.pk }}</h5>
                                    <p class="card-text">
                                        Name: {{ order.customer.name }}<br/>
                                        Mobile: {{ order.customer.mobile }}<br>
                                        Order date: {{ order.received_date }}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h6 class="card-subtitle text-muted text-center">No Orders</h6>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Orders awaiting delivery
                </div>
                <div class="card-body" id="washed_orders">
                    {% if washed_orders %}
                        <ul class="list-group list-group-flush">
                            {% for order in washed_orders %}
                                <li class="list-group-item" id="washed_orders_{{ order.pk }}">
                                    <h5 class="card-title">Receipt: {{ order.pk }}</h5>
                                    <p class="card-text">
                                        Name: {{ order.customer.name }}<br/>
                                        Mobile: {{ order.customer.mobile }}<br>
                                        Order date: {{ order.delivery_date }}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h6 class="card-subtitle text-muted text-center">No Orders</h6>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

    <!-- The Order Detail Modal -->
    <div class="modal fade" id="order_detail_modal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Modal body..
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
{% endblock home_content %}

{% block home_script %}
    <script>

        setInterval(send_ajax, 10000);

        function send_ajax() {
            $.ajax({
                url: '{% url 'home:home_page' %}',
                type: 'post',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    {#console.log(JSON.parse(data));#}
                    populate_orders(data);
                }
            });
        }

        function populate_orders(data) {
            let json = JSON.parse(data);
            console.log(json);
            let received_card = document.getElementById('received_order');
            if (Object.keys(json['received_order']).length > 0) {
                for (let order in json['received_order']) {
                    let inner_json = JSON.parse(json['received_order'][order][0]);
                    console.log(inner_json);
                    received_card.innerHTML = "";
                    {#<ul class="list-group list-group-flush">#}
                    {#        {% for order in received_orders %}#}
                    {#            <li class="list-group-item" data-toggle="modal" data-target="#order_detail_modal"#}
                    {#                id="received_order_{{ order.pk }}">#}
                    {#                <h5 class="card-title">Receipt: {{ order.pk }}</h5>#}
                    {#                <p class="card-text">#}
                    {#                    Name: {{ order.customer.name }}<br/>#}
                    {#                    Mobile: {{ order.customer.mobile }}<br>#}
                    {#                    Order date: {{ order.received_date }}#}
                    {#                </p>#}
                    {#            </li>#}
                    {#        {% endfor %}#}
                    {#    </ul>#}

                    let ul = document.createElement('ul');
                    ul.setAttribute('class', 'list-group list-group-flush');

                    let li = document.createElement('li');
                    ul.setAttribute('class', 'list-group-item');
                    ul.setAttribute('data-toggle', 'modal');
                    ul.setAttribute('data-target', '#order_detail_modal');
                    ul.setAttribute('id', 'received_order_' + order);

                    let heading = document.createElement('h5');
                    heading.setAttribute('class', 'card-title');
                    heading.innerHTML = 'Receipt:' + order;




                    let para = document.createElement('p');
                    para.setAttribute('class', 'card-text');
                    para.innerHTML = "Name: " + inner_json['fields']

                }
            } else {
                received_card.innerHTML = '<h6 class="card-subtitle text-muted text-center">No Orders</h6>';
            }
        }
    </script>
{% endblock home_script %}