{% extends 'home.html' %}

{% block home_content %}
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    New Orders (Awaiting Evaluation)
                </div>
                <div class="card-body" id="received_order">
                    {% if received_orders %}
                        <ul class="list-group list-group-flush">
                            {% for order in received_orders %}
                                <li class="list-group-item" onclick="show_modal('received_order-{{ order.pk }}')">
                                    <h5 class="card-title">Receipt: {{ order.pk }}</h5>
                                    <p class="card-text">
                                        Name: {{ order.customer.name }}<br/>
                                        Mobile: {{ order.customer.mobile }}<br>
                                        Order date: {{ order.received_date }}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h6 class="card-subtitle text-muted text-center">No Orders</h6>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Orders awaiting washing
                </div>
                <div class="card-body" id="clothwise_order">
                    {% if clothwise_orders %}
                        <ul class="list-group list-group-flush">
                            {% for order in clothwise_orders %}
                                <li class="list-group-item" id="clothwise_order_{{ order.pk }}">
                                    <h5 class="card-title">Receipt: {{ order.pk }}</h5>
                                    <p class="card-text">
                                        Name: {{ order.customer.name }}<br/>
                                        Mobile: {{ order.customer.mobile }}<br>
                                        Order date: {{ order.received_date }}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h6 class="card-subtitle text-muted text-center">No Orders</h6>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Orders awaiting delivery
                </div>
                <div class="card-body" id="washed_order">
                    {% if washed_orders %}
                        <ul class="list-group list-group-flush">
                            {% for order in washed_orders %}
                                <li class="list-group-item" id="washed_orders_{{ order.pk }}">
                                    <h5 class="card-title">Receipt: {{ order.pk }}</h5>
                                    <p class="card-text">
                                        Name: {{ order.customer.name }}<br/>
                                        Mobile: {{ order.customer.mobile }}<br>
                                        Order date: {{ order.delivery_date }}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h6 class="card-subtitle text-muted text-center">No Orders</h6>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

    <!-- The Order Detail Modal -->
    <div class="modal fade" id="order_detail_modal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Order Detail</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="modal_body">
                </div>

                <!-- Modal footer -->
                <div class="modal-footer" id="modal_footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The Clothwise Details Modal -->
    <div class="modal fade" id="cloth_detail_modal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Enter Clothwise Detail</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <form action="{% url 'home:clothwise' %}" method="POST" id="order_form"
                      onsubmit="return confirm_form(event);">
                    <div class="modal-body" id="modal_body">
                        <h5 class="lead" id="modal_subtitle"></h5>

                        <div class="form-group">

                            <input name="customer_pk" id="customer_pk" hidden>
                            <input name="order_pk" id="order_pk" hidden>
                        </div>

                        <div class="form-group" id="or_div">
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label for="qty">Cloth Type</label>
                                </div>
                                <div class="col-md-2 form-group">
                                    <label for="qty">Quantity</label>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="qty">Cloth Type</label>
                                </div>
                                <div class="col-md-2 form-group">
                                    <label for="qty">Quantity</label>
                                </div>
                            </div>
                            {% for each in category %}
                                <div class="row">
                                    {% for i in each %}
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input readonly class="form-control" value="{{ i }}"
                                                       name="cloth_
                                                               {{ forloop.parentloop.counter }}{{ forloop.counter }}">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <input name="qty_{{ forloop.parentloop.counter }}{{ forloop.counter }}"
                                                       min="0"
                                                       pattern="^\d*(\.\d{0,2})?$"
                                                       onkeyup="individual_kg();" type="number" class="form-control"
                                                       value="0">
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer" id="modal_footer">
                        <input type='submit' class="btn btn-primary" name="ind_kg"
                               value="Submit">
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock home_content %}

{% block home_script %}
    <script>

    setInterval(send_ajax, 5000);

    function send_ajax() {
        $.ajax({
            url: '{% url 'home:home_page' %}',
            type: 'post',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (data) {
                {#console.log(JSON.parse(data));#}
                populate_orders(data);
            }
        });
    }

    var json;

    function populate_orders(data) {
        json = JSON.parse(data);
        console.log(json);
        let received_card = document.getElementById('received_order');

        if (Object.keys(json['received_order']).length > 0) {
            received_card.innerHTML = "";

            let ul = document.createElement('ul');
            ul.setAttribute('class', 'list-group list-group-flush');

            for (let order in json['received_order']) {

                let li = document.createElement('li');
                li.setAttribute('class', 'list-group-item');
                li.setAttribute('onclick', 'show_modal("received_order-' + order + '")');
                {#li.setAttribute('data-toggle', 'modal');#}
                {#li.setAttribute('data-target', '#order_detail_modal');#}
                li.setAttribute('id', 'received_order_' + order);

                let heading = document.createElement('h5');
                heading.setAttribute('class', 'card-title');
                heading.innerHTML = 'Receipt: ' + order;


                let para = document.createElement('p');
                para.setAttribute('class', 'card-text');
                para.innerHTML = "Name: " + json['received_order'][order]['name'] + "<br/>Mobile: " + json['received_order'][order]['mobile'] + "<br/>Order Date: " + json['received_order'][order]['received_date'];

                li.appendChild(heading);
                li.appendChild(para);
                ul.appendChild(li);

            }
            received_card.appendChild(ul);
        } else {
            received_card.innerHTML = '<h6 class="card-subtitle text-muted text-center">No Orders</h6>';
        }

        let clothwise_card = document.getElementById('clothwise_order');

        if (Object.keys(json['clothwise_order']).length > 0) {
            clothwise_card.innerHTML = "";

            let ul = document.createElement('ul');
            ul.setAttribute('class', 'list-group list-group-flush');

            for (let order in json['clothwise_order']) {

                let li = document.createElement('li');
                li.setAttribute('class', 'list-group-item');
                li.setAttribute('onclick', 'show_modal("clothwise_order-' + order + '")');

                {#li.setAttribute('data-toggle', 'modal');#}
                {#li.setAttribute('data-target', '#order_detail_modal');#}
                li.setAttribute('id', 'clothwise_order_' + order);

                let heading = document.createElement('h5');
                heading.setAttribute('class', 'card-title');
                heading.innerHTML = 'Receipt:' + order;


                let para = document.createElement('p');
                para.setAttribute('class', 'card-text');
                para.innerHTML = "Name: " + json['clothwise_order'][order]['name'] + "<br/>Mobile: " + json['clothwise_order'][order]['mobile'] + "<br/>Order Date: " + json['clothwise_order'][order]['received_date'];

                li.appendChild(heading);
                li.appendChild(para);
                ul.appendChild(li);

            }
            clothwise_card.appendChild(ul);
        } else {
            clothwise_card.innerHTML = '<h6 class="card-subtitle text-muted text-center">No Orders</h6>';
        }

        let washed_card = document.getElementById('washed_order');

        if (Object.keys(json['washed_order']).length > 0) {
            washed_card.innerHTML = "";

            let ul = document.createElement('ul');
            ul.setAttribute('class', 'list-group list-group-flush');

            for (let order in json['washed_order']) {

                let li = document.createElement('li');
                li.setAttribute('class', 'list-group-item');
                li.setAttribute('onclick', 'show_modal("washed_order-' + order + '")');

                {#li.setAttribute('data-toggle', 'modal');#}
                {#li.setAttribute('data-target', '#order_detail_modal');#}
                li.setAttribute('id', 'washed_order_' + order);

                let heading = document.createElement('h5');
                heading.setAttribute('class', 'card-title');
                heading.innerHTML = 'Receipt:' + order;


                let para = document.createElement('p');
                para.setAttribute('class', 'card-text');
                para.innerHTML = "Name: " + json['washed_order'][order]['name'] + "<br/>Mobile: " + json['washed_order'][order]['mobile'] + "<br/>Delivery Date: " + json['washed_order'][order]['delivery_date'];

                li.appendChild(heading);
                li.appendChild(para);
                ul.appendChild(li);

            }
            washed_card.appendChild(ul);
        } else {
            washed_card.innerHTML = '<h6 class="card-subtitle text-muted text-center">No Orders</h6>';
        }
    }

    function open_cloth_detail_modal(order_pk, cust_pk, cust_name) {
        document.getElementById('modal_subtitle').innerHTML = 'Customer: ' + cust_name;
        $('#customer_pk').value = cust_pk;
        $('#order_pk').value = order_pk;
        $('#cloth_detail_modal').modal('show');
    }

    function change_status(pk, new_status) {
        $.ajax({
            url: '{% url 'home:change_status' %}',
            type: 'post',
            data: {
                'pk': pk,
                'new_status': new_status,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (data) {
                swal('Success', 'Status changed', 'success');
                send_ajax();
            }
        });
    }

    function show_modal(id) {
        let type = id.split('-')[0];
        let pk = id.split('-')[1];
        console.log(json[type]);
        let status = json[type][pk]['status'];

        if (status == "1") {
            status = "Order received. Evaluation Pending.";
        } else if (status == "2") {
            status = "Evaluation Done. Waiting to be washed";
        } else if (status == "3") {
            status = "Washing Done. Awaiting Delivery.";
        } else {
            status = "Delivered";
        }


        let modal_body = document.getElementById('modal_body');
        modal_body.innerHTML = "<p>Receipt No: " + pk + "<br>Name: " + json[type][pk]['name'] + "<br>Mobile: " + json[type][pk]['mobile'] + "<br>Status" + status;

        let modal_footer = document.getElementById('modal_footer');
        if (type == 'received_order') {
            modal_footer.innerHTML = '<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button><button type="button" class="btn btn-primary" onclick="open_cloth_detail_modal(' + pk + ',' + json[type][pk]['customer_pk'] + ',\'' + json[type][pk]['name'] + '\')">Add Clothwise Details</button>';
        } else if (type == 'clothwise_order') {
            modal_footer.innerHTML = '<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button><button type="button" class="btn btn-primary" onclick="change_status(' + pk + ',3)">Change status to Washing</button>';
        } else {
            modal_footer.innerHTML = '<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button><button type="button" class="btn btn-primary" onclick="change_status(' + pk + ',4)>Change status to Delivered</button>';
        }


        $('#order_detail_modal').modal('show');
    }


    </script>
{% endblock home_script %}

{% block on_ready %}
    send_ajax();
{% endblock on_ready %}