{% extends 'base.html' %}
{#<body>#}
{% block content %}

    {#    <form>#}
    <main class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="sidebar-search" style="width: 50% !important;">
                        <div>
                            <div id="livesearch" class="input-group">
                                <input type="text" class="form-control search-menu"
                                       placeholder="Search..." id="query">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                            <!-- Suggestions will be displayed in below div. -->
                            <div id="search-wrap" class="row hidden" style="margin: .5% 0!important;">
                                <div id="live-search-result" class="suggestion-wrap">
                                    <ul>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {#    </form>#}



{% endblock content %}

{% block scripts %}

    <script>
        $(document).on('input', '.search-menu', function () {

            console.log('Function called');
            $("#live-search-result").css('visibility', 'visible');
            let value = this.value;
            console.log(value);
            if (value.length > 0) {
                let obj = document.getElementById('search_query');
                $.ajax({
                    type: "POST",
                    url: '{% url 'home:get_customer' %}',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'query': value
                    },
                    async: true,
                    success: function (data) {

                        var live_obj = $('.suggestion-wrap ul');
                        {#var div_obj = $('#live-search-result');#}
                        {#div_obj.empty();#}
                        console.log(live_obj);
                        live_obj.empty();
                        console.log(data);
                        live_obj.innerText = '';
                        let customers = JSON.parse(data);
                        for (var key in customers) {
                            console.log(customers[key]['name']);
                            live_obj.append('<li>' + customers[key]['name'] + '</li>');

                        }

                    }
                })
            }

        });
    </script>

    <script>


    </script>

{% endblock scripts %}