{% extends 'base.html' %}
{#<body>#}
{% block content %}

    {#    <form>#}
    <main class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="sidebar-search">
                        <div>
                            <div id="livesearch" class="input-group">
                                <input type="text" class="form-control search-menu"
                                       placeholder="Search..." onchange="showResult(this.value)">
                                <div class="input-group-append">
                                            <span class="input-group-text">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {#    </form>#}



{% endblock content %}

{% block scripts %}

    <script>

        function showResult(value) {
            {#let obj = document.getElementById('search_query');#}
            $.ajax({
                type: "POST",
                url: '{% url 'home:get_customer' %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'query': value
                },
                success: function (data) {
                    console.log(data);
                }
            });
        }
    </script>

{% endblock scripts %}