{% extends 'base.html' %}
{#<body>#}
{% block content %}

    {#    <form>#}
    <main class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="form-group col-md-6 " style="height: 100%">

                    <div class="sidebar-search">
                        <div>
                            <div id="livesearch" class="input-group">

                                <input type="text" class="form-control search-menu" autocomplete="off"
                                       placeholder="Enter Name or Phone number..." id="query">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <div class="col-md-1"></div>
                                <button class="btn btn-success" data-toggle="modal" data-target="#myModal">+
                                </button>

                            </div>
                            <!-- Suggestions will be displayed in below div. -->
                            <div id="search-wrap" class="hidden">
                                <div id="live-search-result" class="suggestion-wrap">
                                    <ul></ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-1"></div>
                <div class="form-group col-md-5">
                    <div class="row">
                        <label id="customer_name">Name: {{ customer_obj.name }}</label>
                    </div>
                    <div class="row">
                        <label>Mobile: {{ customer_obj.mobile }}</label>
                    </div>
                    <div class="row">
                        <label>Email: {{ customer_obj.email }}</label>
                    </div>
                    <div class="row">
                        <label>Address: {{ customer_obj.address }}</label>
                    </div>

                </div>
            </div>

            <form action="{% url 'home:new_order' customer_id=customer_obj.id %}" method="POST" id="order_form"
                  onsubmit="return confirm_form(event);">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">`

                            <input name="customer_id" value="{{ customer_obj.id }}" hidden>
                        </div>

                        <div class="form-group" id="or_div" style="display: none;">
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label for="qty">Cloth Type</label>
                                </div>
                                <div class="col-md-2 form-group">
                                    <label for="qty">Quantity</label>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="qty">Cloth Type</label>
                                </div>
                                <div class="col-md-2 form-group">
                                    <label for="qty">Quantity</label>
                                </div>
                            </div>
                            {% for each in category %}
                                <div class="row">
                                    {% for i in each %}
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input readonly class="form-control" value="{{ i }}"
                                                       name="cloth_
                                                               {{ forloop.parentloop.counter }}{{ forloop.counter }}">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <input name="qty_{{ forloop.parentloop.counter }}{{ forloop.counter }}"
                                                       min="0"
                                                       pattern="^\d*(\.\d{0,2})?$"
                                                       onkeyup="individual_kg();" type="number" class="form-control"
                                                       value="0">
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            <hr>
                            {#                            <br> <br>#}
                            <br>
                            <input type='submit' class="btn btn-dark" name="ind_kg"
                                   value="Submit">
                            <input onclick="total_wise();" class="btn btn-dark" name="total_wise_button"
                                   id="total_wise_button"
                                   value="Enter Total KG Only">
                            {#                            </div>#}
                            {#                        </div>#}
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="price_span">Total Price: </label>
                            ₹ <input readonly id="price_span" name="price" value="0">
                        </div>
                        <label for="kg"><b>Total Kgs: </b></label>

                        <div class="form-control">
                            <input id="kg" name="kg" min="0" pattern="^\d*(\.\d{0,2})?$" required="required"
                                   onkeyup="calc_price(this.value);" type="number">
                        </div>
                        <br>
                        <input type="submit" class="btn btn-dark" name="only_kg" value="Submit">
                        <br>
                        OR

                        <br>
                        <input onclick="cloth_wise();" class="btn btn-dark" name="clothwise_button"
                               value="Enter Cloth wise">

                        <input type="hidden" name="selected" id="selected">
                    </div>
                </div>

                <div class="row">


                </div>

                {#                </div>#}
            </form>


        </div>
    </main>

    {#    </form>#}
    <script>function total_wise() {
        selected = 'only_kg';
        console.log(selected);
        {#document.getElementById("total_wise_button").style.display = 'none';#}
        {#document.getElementById("ind_div").innerText = '';#}
        cloth_wise_button = document.getElementsByName("clothwise_button")[0];
        cloth_wise_button.style.display = 'block';
        {#document.getElementById("ind_div").style.visibility = 'hidden';#}

        cloth_wise_button = document.getElementsByName("only_kg")[0];
        cloth_wise_button.style.display = 'block';
        document.getElementById("or_div").style.display = "none";

    }

    function cloth_wise() {
        selected = 'ind_kg';
        console.log(selected);
        document.getElementById("or_div").style.display = "block";
        cloth_wise_button = document.getElementsByName("clothwise_button")[0];
        cloth_wise_button.style.display = 'none';
        cloth_wise_button = document.getElementsByName("only_kg")[0];
        cloth_wise_button.style.display = 'none';
        {#document.getElementById("ind_div").style.visibility = 'visible';#}
        {#document.getElementById("total_wise_button").style.display = 'block';#}
        {#document.getElementsByName("only_kg")[0].style.visibility = 'hidden';#}
    }


    function calc_price(kgs) {
        price_span = document.getElementById('price_span');
        entered_kg = parseFloat(kgs);
        price_json = '{{ price_json | safe }}';
        price_json = JSON.parse(price_json);
        cur_key = 1;
        console.log(price_json);
        if (entered_kg >= 0) {
            for (kg_key in price_json) {
                if (kg_key >= entered_kg) {
                    cur_key = kg_key;
                    break;
                } else {
                    cur_key = kg_key;
                }
            }
            console.log(parseFloat(price_json[cur_key]));
            console.log(parseFloat(entered_kg));
            price_span.value = Math.round(parseFloat(price_json[cur_key]) * parseFloat(entered_kg).toFixed(2));

        } else if (entered_kg.toString() == "NaN") {
            price_span.value = 0;
        } else {
            price_span.value = 'Invalid';
        }

    }

    </script>

    <div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">

            <!-- Modal content-->
            <form action="{% url 'home:register_customer' %}" onsubmit="register_request(event);" method="POST">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title">New Customer</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-5">

                            <div class="form-group">
                                <div class="row">
                                    <label for="name">Name *</label>
                                    <input name="name" required type="text" class="form-control">
                                </div>

                                <div class="row">
                                    <label for="mobile">Phone Number *</label>
                                    <input id='mobile' name="mobile" required type="number" class="form-control">
                                </div>

                                <div class="row">
                                    <label for="email">Email</label>

                                    <input id="email" name="email" type="email" class="form-control">

                                </div>
                                <div class="row">
                                    <label for="address">Address</label>

                                    <input id="addresss" name="addresss" type="text" class="form-control">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" name="register_btn" class="btn btn-primary">
                            Register
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>


{% endblock content %}

{% block scripts %}
    <script>
        $('#live-search-result').on('click', 'li', function () {

            document.location.href = '/new_order/' + this.id + '/';
        })
    </script>

    <script>
        function register_request(e) {
            e.preventDefault();
            let name = document.getElementById('name');
            let mobile = document.getElementById('mobile');
            let email = document.getElementById('email');
            let address = document.getElementById('address');
            var saveData = $.ajax({
                type: 'POST',
                url: "{% url 'home:register_customer' %}",
                data: {

                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'name': name,
                    'mobile': mobile,
                    'email': email,
                    'address': address
                },
                dataType: "text",
                success: function (resultData) {
                    swal("Success", resultData, 'success');
                    $('#myModal').modal('hide');
                }
            });
            saveData.error(function () {
                swal("Error", "Something went wrong", 'error');
            });
        }
    </script>

    <script>
        $(document).on('input', '.search-menu', function () {

            {#console.log('Function called');#}
            $("#live-search-result").css('visibility', 'visible');
            let value = this.value;
            {#console.log(value);#}
            if (value.length > 0) {
                let obj = document.getElementById('search_query');
                $.ajax({
                    type: "POST",
                    url: '{% url 'home:get_customer' %}',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'query': value
                    },
                    async: true,
                    success: function (data) {

                        var live_obj = $('.suggestion-wrap ul');
                        {#var div_obj = $('#live-search-result');#}
                        {#div_obj.empty();#}
                        {#console.log(live_obj);#}
                        live_obj.empty();
                        {#console.log(data);#}
                        live_obj.innerText = '';
                        let customers = JSON.parse(data);
                        for (var key in customers) {
                            {#console.log(customers[key]['name']);#}
                            live_obj.append('<li id=' + key + '>' + customers[key]['name'] + ' ' + customers[key]['mobile'] + '</li>');

                        }

                    }
                })
            }

        });

        function confirm_form(e) {
            e.preventDefault();
            let form = document.getElementById('order_form');
            console.log(selected);
            {#form.preventDefault(); // <--- prevent form from submitting#}
            let name = document.getElementById('customer_name').innerText;
            {#console.log(name);#}
            let price = document.getElementById('price_span').value;
            {#console.log(price);#}
            let kg = document.getElementById('kg').value;
            {#console.log(kg);#}
            let text = "Please confirm the order details before submitting:\n";
            text += '\n' + name;
            text += '\nKg: ' + kg;
            text += '\nPrice: ' + price;
            swal({
                title: "Are you sure",
                text: text,
                icon: "warning",
                buttons: [
                    'No, cancel it!',
                    'Yes, I am sure!'
                ],
                dangerMode: true,
            }).then(function (isConfirm) {
                if (isConfirm) {
                    {#swal({#}
                    {#    title: 'Shortlisted!',#}
                    {#    text: 'Candidates are successfully shortlisted!',#}
                    {#    icon: 'success'#}
                    let obj = document.getElementById('selected');
                    obj.value = selected;
                    console.log(selected);
                    console.log(obj);
                    form.submit(); // <--- submit form programmatically
                    return true;
                } else {
                    {#swal("Cancelled", "Your imaginary file is safe :)", "error");#}
                    return false;
                }
            })
        }

    </script>

    <script>
        var selected = 'only_kg';
        {#console.log('{{ category_json|safe }}')#}

    </script>

{% endblock scripts %}