{% extends 'base.html' %}

{% block content %}
    <main class="page-content">
        <div class="container-fluid">
            <table class="table table-hover">

                <thead>
                <tr>
                    <th>Order No.</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Quantity</th>
                    <th>Order Date</th>
                    <th>Status</th>
                    <th>Bill Amount</th>
                    <th>Receipt</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>

                        <td>{{ order.pk }}</td>
                        <td>{{ order.customer.name }}</td>
                        <td>
                            {{ order.customer.mobile }}
                        </td>
                        <td>{{ order.kg }} Kg</td>
                        <td>{{ order.received_date }}</td>
                        {% if order.delivery_date %}
                            <td>Delivered <br>{{ order.delivery_date }}</td>
                        {% else %}
                            <td>Not Delivered</td>
                        {% endif %}
                        <td>₹ {{ order.price }}</td>
                        <td>
                            <a href="{% url 'home:download_receipt' order.id %}">
                                <i class="fa fa-download"></i>
                            </a></td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
