{% extends 'base.html' %}
{#<body>#}
{% block content %}

    <main class="page-content">
        <!-- date picker link http://www.daterangepicker.com-->
        <div class="row">
            <p class="lead">Day-Wise Orders</p>
        </div>
        <form action="{% url 'home:daywise_excel' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control" id="daterangepicker" name="daterange" value=""
                           style="text-align: center;" placeholder="Choose Date"
                    />
                </div>
                <button class="btn btn-success">Download</button>
            </div>
        </form>
    </main>



{% endblock content %}

{% block scripts %}

    <script>
        $(function () {
            $('input[name="daterange"]').datepicker({
                format: 'dd-mm-yyyy',
                opens: 'center'
            }, function (start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });
        });
    </script>
{% endblock scripts %}