* {
    padding: 0px;
    margin: 0px;
}

/* ==========Template Style ========== */
body {
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #828282;
    background: #fff;
}
.navbar{
   background-color: #660034 !important;

}
.navbar-light .navbar-nav .nav-link   {
    color: #f7f7f7 !important;
}
.navbar-light .navbar-brand {
    color: #f8f9fa  !important;
}
.nav-item{
    float: right;
}
footer {

    background: #e9ecef;
    position: absolute;
    margin-top:auto;
    padding: 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
}